{% extends 'base.html' %}


{% block content %}
    <div class="container py-7">
        
        {% block profile_info %}
        <main class="profile-info" hx-get="{% url 'accounts:profile' %}" hx-trigger="profileSaved from:body">
            <h1 class="fw-bold fs-3 text-primary my-5">Profilo personale</h1>
            <p>Bentornato {% if user.profile.first_name%}{{user.profile.first_name}}{% else %}{{ user.email }} {% endif %}, qui trovi le tue preferenze, i tuoi compagni di viaggio, i viaggi in preparazione e quelli già fatti.</p>
            <hr>
            <section id="personal">
                <div class="d-flex align-items-center">
                    <h3 class="fw-bold fs-4 text-primary my-5 me-3">Informazioni personali</h3>
                    <button class="btn btn-outline-success btn-sm"
                            hx-get="{% url 'accounts:profile_edit' user.pk %}"
                            hx-target="#dialog">
                        <i class="fa-solid fa-pen fa-sm me-2"></i>Modifica
                    </button>
                </div>
                <ul class="list-unstyled">
                    <li><span class="fw-bold">Nome: </span>{{ user.profile.first_name }}</li>
                    <li><span class="fw-bold">Cognome: </span>{{ user.profile.last_name }}</li>
                </ul>
            </section>
            <hr>
            <section id="travel-friends">
                <h3 class="fw-bold fs-4 text-primary my-5">Compagni di viaggio</h3>
                <ul class="list-unstyled vstack gap-3">
                {% for friend in travel_friends %}
                    <li>{{ friend.name }} 
                    {% if friend.age >= 18 %}
                        (18+)
                        {% else %}
                        ({{ friend.age }})
                        {% endif %}
                    {% endfor %}
                    </li>
                </ul> 
            </section>
        </main>
        {% endblock profile_info %} 
    </div>
{% endblock content %}
    