{% extends 'base.html' %}

{% load static crispy_forms_tags %}

{% block head_title %}Registrati{% endblock %}

{% block navbar %}
{% endblock navbar %}


{% block content %} 
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 login">
            <div class="d-flex flex-row mb-3 justify-content-center align-items-center">
                <img src="{% static 'images/logo.png' %}" alt="Site Logo" height="85">
            </div>
                <form method="POST" id="signup_form" action="{% url 'account_signup' %}">
                {% csrf_token %}
                    {{ form|crispy}}
                <div class="d-grid my-5">
                    <button type="submit" class="btn btn-primary" >Registrati</button>
                </div>
                <p class="text-muted">
                    Hai già un account? Effettua il <a href="{% url 'account_login' %}" >login</a>
                </p>
        </div>
    </div>
</div>
{% endblock content %}
    