{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Document</title>{% endblock title %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Tabler Icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <!-- Bootstrap JS -->
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- htmx -->
    <script defer src="{% static 'js/htmx.min.js' %}"></script>
</head>

<body class="">

    {% block navbar %}
        {% include 'includes/navbar.html' %}
    {% endblock navbar %}
        
    {% block content %}
        <div class=""></div>
    {% endblock content %}

</body>

</html>