body {
    font-family: 'PT Sans', sans-serif;
}


.navbar {
    transition: all 0.5s ease-in-out;
}

.navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media ( min-width: 992px) {
    .login,
    .verification {
        max-width: 450px;
        margin: auto;
    }
}